# Compiled
*.elc

# Packaging
.cask

# emacs backup file
*~

# eshell/
eshell/history
eshell/lastdir
elpa/

# data files
ac-comphist.dat
ede-projects.el

emms/
ido.last
org-clock-save.el

el-get/

# ignore my personal elisp modules
/emacs-lisp/tts-mode

.session
tramp
session.*
server/
